parameters:
    level: 10
    paths:
        - bin/
        - config/
        - public/
        - src/
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
